@use "../abstracts/__abstracts-dir" as abstract;

.awardCont {
  text-align: center;
  width: 100%;

  h2 {
    font-size: 1rem;
    font-weight: 700;
    color: #2c3930;
    justify-self: center;
    margin: 0 !important;
    margin-bottom: 5rem !important;
  }
}

.scrollerWrapper {
  width: 100%;
  overflow: hidden;
}

.scrollerInner {
  display: flex;
  gap: 1rem;

  .timelineItem {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .timelineContent {
      display: flex;
      align-items: center;
      padding: 1rem 2rem 1rem;
      background: white;
      border-radius: 16px;
      -webkit-backdrop-filter: blur(100px);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.2);
      gap: 0.5rem;

      .imageSection {
        flex-shrink: 0;
        width: 60px;
        height: 60px;
        position: relative;
        border-radius: 8px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .textSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;

        h3 {
          font-weight: 800;
          font-size: 0.7rem;
          color: #2c3930;
          margin: 0;
        }

        h4 {
          font-weight: 300 !important;
          font-size: 0.5rem !important;
          color: #2c3930;
          margin: 0;
        }
      }
    }
  }
}

@include abstract.mobile {
  .awardCont h2 {
    font-size: 0.8rem !important;
    margin-bottom: 2rem !important;
  }

  .scrollerInner {
    gap: 0.5rem;

    .timelineItem {
      min-width: 200px;

      .timelineContent {
        padding: 0.6rem;

        .imageSection {
          width: 50px;
          height: 50px;
        }

        .textSection {
          h3 {
            font-size: 0.6rem;
          }

          h4 {
            font-size: 0.4rem !important;
          }
        }
      }
    }
  }
}

@include abstract.phablet {
  .awardCont h2 {
    font-size: 0.8rem !important;
    margin-bottom: 2rem !important;
  }

  .scrollerInner .timelineItem {
    min-width: 200px;

    .timelineContent {
      padding: 0.5rem;

      .imageSection {
        width: 55px;
        height: 55px;
      }
      .textSection {
        h3 {
          font-size: 0.6rem;
        }

        h4 {
          font-size: 0.4rem !important;
        }
      }
    }
  }
}

@include abstract.tablet {
  .awardCont h2 {
    font-size: 1rem;
    margin-bottom: 2rem !important;
  }

  .scrollerInner .timelineItem {
    min-width: 250px;

    .timelineContent {
      padding: 0.5rem;

      .imageSection {
        width: 60px;
        height: 60px;
      }
    }
  }
}
