.awardCont {
  text-align: center;
  width: 100%;

  h2 {
    font-size: 1rem;
    font-weight: 700;
    color: #2c3930;
    justify-self: center;
    margin: 0 !important;
    margin-bottom: 5rem !important;
  }
}

.scrollerWrapper {
  width: 100%;
  overflow: hidden;
}

.scrollerInner {
  display: flex;
  animation: scroll 40s linear infinite;
  gap: 1rem;

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .timelineItem {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .timelineContent {
      display: flex;
      align-items: center;
      padding: 1rem 2rem 1rem;
      background: white;
      border-radius: 16px;
      -webkit-backdrop-filter: blur(100px);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.2);
      gap: 0.5rem;

      .textSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;

        h3 {
          font-weight: 800;
          font-size: 0.7rem;
          color: #2c3930;
          margin: 0;
        }

        h4 {
          font-weight: 300 !important;
          font-size: 0.5rem !important;
          color: #2c3930;
          margin: 0;
        }
      }
    }
  }
}

//mobile
@mixin mobile {
  @media screen and (min-width: 320px) and (max-width: 480px) {
    @content;
  }
}

@include mobile {
  .awardCont {
    h2 {
      font-size: 0.8rem;
      margin-bottom: 2rem !important;
    }
  }

  .scrollerInner {
    display: flex;
    animation: scroll 20s linear infinite;
    gap: 0.5rem;

    .timelineItem {
      min-width: 200px;

      .timelineContent {
        padding: 0.6rem;
      }
    }
  }
}

@mixin phablet {
  @media screen and (min-width: 481px) and (max-width: 767px) {
    @content;
  }
}

//phablet
@include phablet {
  .awardCont {
    h2 {
      font-size: 1rem !important;
      margin-bottom: 2rem !important;
    }
  }

  .scrollerInner {
    .timelineItem {
      min-width: 200px;

      .timelineContent {
        padding: 0.5rem;
      }
    }
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

//tablet
@include tablet {
  .awardCont {
    h2 {
      font-size: 1.3rem !important;
      margin-bottom: 2rem !important;
    }
  }

  .scrollerInner {
    .timelineItem {
      min-width: 250px;

      .timelineContent {
        padding: 0.5rem;
      }
    }
  }
}
