@use "../public/abstracts/__abstracts-dir" as abstract;

.contactSection {
  padding: 3rem 3rem;
  font-style: "Poppins", sans-serif;
  h2 {
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 5rem;
  }

  .contactGrid {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    h3 {
      font-weight: 500;
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    .email {
      a {
        font-weight: 700;
        font-size: 6rem;
        line-height: 100%;
        text-decoration: none;
        white-space: normal;
        word-break: break-word;
        margin-bottom: 1rem;
      }
    }
  }
}

//mobile
@include abstract.mobile {
  .contactSection {
    padding: 2rem 1rem;
    h2 {
      font-size: 0.8rem !important;
      margin-bottom: 2rem !important;
    }

    .contactGrid {
      h3 {
        font-size: 0.7rem;
        margin-bottom: 0.5rem;
      }

      .email {
        a {
          font-size: 1.1rem;
        }
      }
    }
  }
}

//phablet
@include abstract.phablet {
  .contactSection {
    padding: 2rem 2rem;
    h2 {
      font-size: 0.8rem !important;
      margin-bottom: 2rem !important;
    }

    .contactGrid {
      h3 {
        font-size: 0.7rem;
        margin-bottom: 0.5rem;
      }

      .email {
        a {
          font-size: 2rem;
        }
      }
    }
  }
}

//tablet
@include abstract.tablet {
  .contactSection {
    padding: 2rem 2rem;
    h2 {
      font-size: 1rem;
      margin-bottom: 2rem !important;
    }

    .contactGrid {
      h3 {
        font-size: 0.7rem;
        margin-bottom: 0.5rem;
      }

      .email {
        a {
          font-size: 3.2rem;
        }
      }
    }
  }
}
