@use "../abstracts/__abstracts-dir" as abstract;

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  z-index: 999;
  font-style: "Poppins", sans-serif;
  .socialIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    a {
      margin: 0 8px;
      color: #3f4f44;
      font-size: 0.8rem;
      &:hover {
        color: #a27b5c;
      }
    }

    h6 {
      margin: 0 8px;
      color: #3f4f44;
      font-size: 0.8rem;
      font-weight: 400;
    }
  }
  .credits {
    color: #3f4f44;
    h6 {
      font-size: 0.8rem;
      font-weight: 400;
    }
  }
}

//mobile
@include abstract.mobile {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

    .socialIcons {
      a {
        margin: 0 8px;

        font-size: 0.5rem;
      }

      h6 {
        display: none;
      }
    }
    .credits {
      h6 {
        font-size: 0.5rem;
        font-weight: 400;
      }
    }
  }
}

//phablet
@include abstract.phablet {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

    .socialIcons {
      a {
        margin: 0 8px;
        font-size: 0.5rem;
      }

      h6 {
        display: none;
      }
    }
    .credits {
      h6 {
        font-size: 0.5rem;
        font-weight: 400;
      }
    }
  }
}

//tablet
@include abstract.tablet {
  .footer {
    padding: 0.5rem 1rem;

    .socialIcons {
      a {
        margin: 0 8px;
        font-size: 0.5rem;
      }

      h6 {
        display: none;
      }
    }
    .credits {
      h6 {
        font-size: 0.5rem;
        font-weight: 400;
      }
    }
  }
}
