@use "../abstracts/__abstracts-dir" as abstract;

.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3.2rem;
  background-color: transparent;
  width: 100%;
  margin: auto;
  position: fixed;
  z-index: 1000;
  // border-bottom: 1px gray solid;
  min-height: 1rem;
  mix-blend-mode: difference;
  font-style: "Poppins", sans-serif;
  label,
  li {
    cursor: pointer;
  }

  label {
    letter-spacing: 8px;
    font-size: 0.8rem;
    font-weight: 700;
  }

  li {
    display: inline-block;
    padding: 0 4px;
    font-size: 0.8rem;
    font-weight: 700 !important;
    font-weight: bold;
  }
}

//mobile
@include abstract.mobile {
  .cont {
    justify-content: center;
    padding: 1rem;
    label {
      text-align: center;
      font-size: 0.7rem;
      letter-spacing: 8px;
    }
    nav {
      display: none;
    }
  }
}

//phablet
@include abstract.phablet {
  .cont {
    justify-content: center;

    label {
      text-align: center;
      font-size: 0.9rem;
      letter-spacing: 8px;
    }
    nav {
      display: none;
    }
  }
}

//tablet
@include abstract.tablet {
  .cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;

    label {
      text-align: center;
      font-size: 0.6rem;
      letter-spacing: 0.2rem;
    }
    li {
      display: inline-block;
      padding: 0 4px;
      font-size: 0.6rem;
      font-weight: bold;
    }
  }
}
