.heroCont {
  padding: 6rem 3rem;
  align-items: center;
  justify-content: center;
  margin: 0 !important;

  // img {
  //   max-width: 600px !important;
  // }
  //   border: 1px red solid;
  .heroInfo {
    h5 {
      font-weight: 700;
      font-size: 5.5rem;
      color: #2c3930;
    }

    h1 {
      font-weight: 500;
      line-height: 4rem;

      span {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #2c3930;
      }
    }
    p {
      margin-bottom: 2rem;
    }
    button {
      font-size: 1rem;
    }

    .arrow {
      max-width: 32px;
      margin-top: 32px;
      justify-self: end;
    }
  }
}

@mixin mobile {
  @media screen and (min-width: 320px) and (max-width: 480px) {
    @content;
  }
}

//mobile
@include mobile {
  .heroCont {
    padding: 5rem 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .heroInfo {
      text-align: left;
      h5 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
      }

      h1 {
        font-size: 1rem;
        line-height: 120%;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 0.5rem;
        margin-bottom: 0.5rem;
      }

      button {
        font-size: 0.6rem;
      }
      .arrow {
        max-width: 16px;
        margin-top: 32px;
        justify-self: end;
      }
    }
  }
}

@mixin phablet {
  @media screen and (min-width: 481px) and (max-width: 767px) {
    @content;
  }
}

//phablet
@include phablet {
  .heroCont {
    padding: 5rem 1rem;
    display: flex;

    .heroInfo {
      text-align: left;
      h5 {
        font-size: 3rem;
      }

      h1 {
        font-size: 1.5rem;

        line-height: 170%;
      }
      p {
        font-size: 0.7rem;
        margin-bottom: 0.5rem;
      }

      button {
        font-size: 0.7rem;
      }

      .arrow {
        max-width: 16px;
        margin-top: 32px;
        justify-self: end;
      }
    }
  }
  .heroCont {
    img {
      max-width: 320px !important;
    }
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

//tablet
@include tablet {
  .heroCont {
    display: flex;
    padding: 4rem 2rem;

    .heroInfo {
      h5 {
        font-size: 4.5rem;
      }

      h1 {
        font-size: 1.8rem;

        line-height: 170%;
      }
      p {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
      }

      button {
        font-size: 0.8rem;
      }
      .arrow {
        max-width: 32px;
        margin-top: 32px;
        justify-self: end;
      }
    }
  }
}
