.hobbieCont {
  padding: 5rem 2rem;
  margin: auto !important;
  align-items: center;
  background-color: #064663;
  width: 100%;

  .titleCont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  .gridCont {
    margin: auto;
    margin-top: 16px !important;
    .gridCol {
      //   border: 1px solid red;
      width: 100%;
      padding: 8px !important;
      display: flex;
      align-self: center;

      .interestCont {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        // border: 1px solid red;
        background-color: #f9dbba;
        padding: 0.5rem !important;
        gap: 8px;
        border-radius: 6px;

        h6 {
          color: black;
          letter-spacing: 2px;
        }
      }
    }
  }
}

@mixin mobile {
  @media screen and (min-width: 320px) and (max-width: 480px) {
    @content;
  }
}

//mobile

@include mobile {
  .hobbieCont {
    padding: 2rem 1rem;

    .titleCont {
      h2 {
        font-size: 0.8rem;
      }
    }

    .gridCont {
      margin: auto;
      margin-top: 8px !important;
      .gridCol {
        // border: 1px solid red;
        width: 100%;
        padding: 5px !important;

        .interestCont {
          padding: 0.4em !important;
          gap: 0.5rem;

          img {
            max-width: 20px !important;
          }
          h6 {
            font-size: 0.5rem;
            letter-spacing: 0.1;
          }
        }
      }
    }
  }
}

@mixin phablet {
  @media screen and (min-width: 481px) and (max-width: 767px) {
    @content;
  }
}

//phablet
@include phablet {
  .hobbieCont {
    padding: 3rem 2rem;

    .titleCont {
      h2 {
        font-size: 1rem;
      }
    }

    .gridCont {
      margin: auto;
      margin-top: 8px !important;
      .gridCol {
        // border: 1px solid red;
        width: 100%;
        padding: 5px !important;

        .interestCont {
          padding: 0.4rem !important;
          gap: 0.5rem;

          img {
            max-width: 25px !important;
          }
          h6 {
            font-size: 0.7rem;
            letter-spacing: 1 !important;
          }
        }
      }
    }
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

//tablet
@include tablet {
  .hobbieCont {
    padding: 3rem 2rem;

    .titleCont {
      h2 {
        font-size: 1.3rem;
      }
    }

    .gridCont {
      margin: auto;
      margin-top: 8px !important;
      .gridCol {
        // border: 1px solid red;
        width: 100%;
        padding: 5px !important;

        .interestCont {
          padding: 0.5rem !important;
          gap: 0.5rem;

          img {
            max-width: 30px !important;
          }
          h6 {
            font-size: 0.7rem;
            letter-spacing: 1 !important;
          }
        }
      }
    }
  }
}
