@use "../abstracts/__abstracts-dir" as abstract;

.infoCont {
  padding: 3rem 3rem;

  .infoTitle {
    margin-top: 2rem !important;
    margin-bottom: 2rem;
    font-weight: 700 !important;
    font-size: 5rem !important;
    align-items: flex-start;
    color: #a27b5c;
  }

  .infoGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: flex-start;
    gap: 1rem;
    column-gap: 3rem;
    row-gap: 2rem;
  }

  .infoContent {
    padding: 0;
    justify-self: start;
    font-weight: 300;
    font-size: 1rem;
    line-height: 170%;
    text-align: justify;
  }

  .profileCont {
    position: relative;
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1 / 1;
    margin: 0 auto;

    img,
    .profile {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;
    }

    @include abstract.mobile {
      max-width: 200px;
      aspect-ratio: 1 / 1;
    }

    @include abstract.phablet {
      max-width: 250px;
      aspect-ratio: 1 / 1;
    }

    @include abstract.tablet {
      max-width: 300px;
      aspect-ratio: 1 / 1;
    }
  }
}

// Mobile
@include abstract.mobile {
  .infoCont {
    padding: 2rem 1rem;

    .infoTitle {
      align-items: center !important;
      font-size: 1rem !important;
      margin-bottom: 8px;
    }

    .infoGrid {
      display: flex;
      flex-direction: column-reverse;
      gap: 1rem;
    }

    .infoContent {
      text-align: center;
      font-size: 0.6rem;
      line-height: 170%;
      text-align: justify;
    }
  }
}

// Phablet
@include abstract.phablet {
  .infoCont {
    padding: 3rem 2rem;
    margin: auto;
    align-items: center;

    .infoTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      margin-bottom: 8px !important;
      font-size: 1.2rem !important;
      margin: 0;
    }

    .infoGrid {
      display: flex;
      flex-direction: column-reverse;
    }

    .infoContent {
      text-align: center;
      font-size: 0.7rem;
      line-height: 170%;
      text-align: justify;
    }
  }
}

// Tablet
@include abstract.tablet {
  .infoCont {
    padding: 3rem 2rem;
    margin: auto;
    align-items: center;

    .infoTitle {
      margin-bottom: 24px !important;
      font-size: 3rem !important;
      margin: 0;
    }

    .infoContent {
      font-size: 0.6rem;
      line-height: 150%;
      text-align: justify;
    }
  }
}
