@use "../abstracts/__abstracts-dir" as abstract;

.infoCont {
  padding: 3rem 3rem;
  align-items: center;

  .infoTitle {
    justify-self: center;
    margin-bottom: 5rem;

    h2 {
      margin: 0;
      font-weight: 700;
      font-size: 1rem !important;
    }
  }

  .infoGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 1rem;
    column-gap: 3rem; // ✅ creates more space between text and profile
    row-gap: 2rem; // ✅ adds spacing for smaller screens when stacked
  }

  .infoContent {
    padding: 0;
    justify-self: start;
    font-weight: 300;
    font-size: 1rem;
    line-height: 150%;
    text-align: justify;
  }

  .profileCont {
    position: relative;
    width: 100%;
    height: 300px;

    @include abstract.mobile {
      height: 200px;
    }

    @include abstract.phablet {
      height: 250px;
    }

    @include abstract.tablet {
      height: 250px;
    }
  }

  .profile {
    border-radius: 16px;
    object-fit: cover;
  }
}

// Mobile
@include abstract.mobile {
  .infoCont {
    padding: 2rem 1rem;

    .infoTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem !important;

      h2 {
        font-size: 0.8rem !important;
      }
    }

    .infoGrid {
      display: flex;
      flex-direction: column-reverse;
      gap: 1rem;
    }

    .infoContent {
      text-align: center;
      font-size: 0.6rem;
      line-height: 170%;
      text-align: justify;
    }
  }
}

// Phablet
@include abstract.phablet {
  .infoCont {
    padding: 3rem 2rem;
    margin: auto;
    align-items: center;

    .infoTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      margin-bottom: 2rem !important;

      h2 {
        font-size: 0.8rem !important;
        margin: 0;
      }
    }

    .infoGrid {
      display: flex;
      flex-direction: column-reverse;
    }

    .infoContent {
      text-align: center;
      font-size: 0.7rem;
      line-height: 170%;
      text-align: justify;
    }
  }
}

// Tablet
@include abstract.tablet {
  .infoCont {
    padding: 3rem 2rem;
    margin: auto;
    align-items: center;

    .infoTitle {
      gap: 8px;
      margin-bottom: 2rem !important;

      h2 {
        font-size: 1rem !important;
        margin: 0;
      }
    }

    .infoContent {
      font-size: 0.6rem;
      line-height: 150%;
      text-align: justify;
    }
  }
}
