@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Noto+Sans:ital,wght@0,900;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.skillCont {
  padding: 3rem 3rem;
  display: flex !important;
  flex-direction: column;
  width: 100% !important;
  // border: 1px red solid;

  .skillHeader {
    font-size: 1rem !important;
    font-weight: 700 !important;
    text-align: center;
    color: #2c3930;
    margin-bottom: 5rem;
  }

  .tagContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem !important;
    justify-content: center;
    .tagItem {
      display: inline-flex; // Use inline-flex for "tag-like" appearance
      align-items: center;
      background-color: white;
      border: 2px #2c3930 solid;
      border-radius: 12px; // Make them rounded like tags
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
      cursor: pointer;
      gap: 8px;
      padding: 1rem;

      &:hover {
        transform: translateY(-3px); // Hover effect
      }
      img {
        max-width: 50px !important;
      }

      .techName {
        font-size: 0.9rem !important;
        font-weight: 500 !important;
        font-family: "Fira Code", monospace;
        color: black;
      }
    }
  }
}

@mixin mobile {
  @media screen and (min-width: 320px) and (max-width: 480px) {
    @content;
  }
}

//mobile
@include mobile {
  .skillCont {
    padding: 2rem 1rem 2rem;
    .skillHeader {
      font-size: 0.8rem !important;
      text-align: center;
      margin-bottom: 2rem !important;
    }

    .tagContainer {
      gap: 0.1rem !important;
      .tagItem {
        padding: 0.2rem 0.8rem 0.2rem;
        border-radius: 6px;
        border: 1px #2c3930 solid;
        img {
          max-width: 0.8rem !important;
        }
        .techName {
          font-size: 0.4rem !important;
        }
      }
    }
  }
}

@mixin phablet {
  @media screen and (min-width: 481px) and (max-width: 767px) {
    @content;
  }
}

//phablet
@include phablet {
  .skillCont {
    padding: 2rem;
    .skillHeader {
      font-size: 0.8rem !important;
      text-align: center;
      margin-bottom: 2rem !important;
    }

    .tagContainer {
      gap: 0.5rem;
      .tagItem {
        padding: 0.2rem 0.8rem 0.2rem;
        img {
          max-width: 25px !important;
        }
        .techName {
          font-size: 0.6rem !important;
        }
      }
    }
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

//tablet
@include tablet {
  .skillCont {
    padding: 2rem;
    .skillHeader {
      font-size: 1rem;
      margin-bottom: 2rem !important;
      text-align: center;
    }

    .tagContainer {
      gap: 0.5rem;
      .tagItem {
        padding: 0.2rem 0.8rem 0.2rem;
        border: 1px #2c3930 solid;
        img {
          max-width: 25px !important;
        }
        .techName {
          font-size: 0.8rem !important;
        }
      }
    }
  }
}
