@use "../abstracts/__abstracts-dir" as abstract;

.generics,
.pages {
  min-height: 100vh;
  background-size: 100% 100%;
  position: relative;
  overflow-x: hidden;

  @include abstract.tablet {
    background-attachment: fixed;
  }

  @include abstract.phablet {
    background-position-y: 87px;
    background-attachment: fixed;
  }

  @include abstract.mobile {
    background-position-y: 87px;
    background-attachment: fixed;
  }
}

.generics {
  display: flex;
  align-items: center;

  &.loader {
    justify-content: center;
  }
}
